## Using the Iris Data:

## Use the function defined in acquire.py to load the iris data.

In [2]:
from math import sqrt
from scipy import stats
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pydataset import data
import statistics
import seaborn as sns
import env
import acquire
import math

In [12]:
df = acquire.get_iris_data()

Acquiring data from SQL database

In [13]:
df

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa
5,1,6,5.4,3.9,1.7,0.4,setosa
6,1,7,4.6,3.4,1.4,0.3,setosa
7,1,8,5.0,3.4,1.5,0.2,setosa
8,1,9,4.4,2.9,1.4,0.2,setosa
9,1,10,4.9,3.1,1.5,0.1,setosa
10,1,11,5.4,3.7,1.5,0.2,setosa
11,1,12,4.8,3.4,1.6,0.2,setosa
12,1,13,4.8,3.0,1.4,0.1,setosa
13,1,14,4.3,3.0,1.1,0.1,setosa
14,1,15,5.8,4.0,1.2,0.2,setosa
15,1,16,5.7,4.4,1.5,0.4,setosa
16,1,17,5.4,3.9,1.3,0.4,setosa
17,1,18,5.1,3.5,1.4,0.3,setosa
18,1,19,5.7,3.8,1.7,0.3,setosa
19,1,20,5.1,3.8,1.5,0.3,setosa
20,1,21,5.4,3.4,1.7,0.2,setosa
21,1,22,5.1,3.7,1.5,0.4,setosa
22,1,23,4.6,3.6,1.0,0.2,setosa
23,1,24,5.1,3.3,1.7,0.5,setosa
24,1,25,4.8,3.4,1.9,0.2,setosa
25,1,26,5.0,3.0,1.6,0.2,setosa
26,1,27,5.0,3.4,1.6,0.4,setosa
27,1,28,5.2,3.5,1.5,0.2,setosa
28,1,29,5.2,3.4,1.4,0.2,setosa
29,1,30,4.7,3.2,1.6,0.2,setosa
30,1,31,4.8,3.1,1.6,0.2,setosa
31,1,32,5.4,3.4,1.5,0.4,setosa
32,1,33,5.2,4.1,1.5,0.1,setosa
33,1,34,5.5,4.2,1.4,0.2,setosa
34,1,35,4.9,3.1,1.5,0.2,setosa
35,1,36,5.0,3.2,1.2,0.2,setosa
36,1,37,5.5,3.5,1.3,0.2,setosa
37,1,38,4.9,3.6,1.4,0.1,setosa
38,1,39,4.4,3.0,1.3,0.2,setosa
39,1,40,5.1,3.4,1.5,0.2,setosa
40,1,41,5.0,3.5,1.3,0.3,setosa
41,1,42,4.5,2.3,1.3,0.3,setosa
42,1,43,4.4,3.2,1.3,0.2,setosa
43,1,44,5.0,3.5,1.6,0.6,setosa
44,1,45,5.1,3.8,1.9,0.4,setosa
45,1,46,4.8,3.0,1.4,0.3,setosa
46,1,47,5.1,3.8,1.6,0.2,setosa
47,1,48,4.6,3.2,1.4,0.2,setosa
48,1,49,5.3,3.7,1.5,0.2,setosa
49,1,50,5.0,3.3,1.4,0.2,setosa
50,2,51,7.0,3.2,4.7,1.4,versicolor
51,2,52,6.4,3.2,4.5,1.5,versicolor
52,2,53,6.9,3.1,4.9,1.5,versicolor
53,2,54,5.5,2.3,4.0,1.3,versicolor
54,2,55,6.5,2.8,4.6,1.5,versicolor
55,2,56,5.7,2.8,4.5,1.3,versicolor
56,2,57,6.3,3.3,4.7,1.6,versicolor
57,2,58,4.9,2.4,3.3,1.0,versicolor
58,2,59,6.6,2.9,4.6,1.3,versicolor
59,2,60,5.2,2.7,3.9,1.4,versicolor
60,2,61,5.0,2.0,3.5,1.0,versicolor
61,2,62,5.9,3.0,4.2,1.5,versicolor
62,2,63,6.0,2.2,4.0,1.0,versicolor
63,2,64,6.1,2.9,4.7,1.4,versicolor
64,2,65,5.6,2.9,3.6,1.3,versicolor
65,2,66,6.7,3.1,4.4,1.4,versicolor
66,2,67,5.6,3.0,4.5,1.5,versicolor
67,2,68,5.8,2.7,4.1,1.0,versicolor
68,2,69,6.2,2.2,4.5,1.5,versicolor
69,2,70,5.6,2.5,3.9,1.1,versicolor
70,2,71,5.9,3.2,4.8,1.8,versicolor
71,2,72,6.1,2.8,4.0,1.3,versicolor
72,2,73,6.3,2.5,4.9,1.5,versicolor
73,2,74,6.1,2.8,4.7,1.2,versicolor
74,2,75,6.4,2.9,4.3,1.3,versicolor
75,2,76,6.6,3.0,4.4,1.4,versicolor
76,2,77,6.8,2.8,4.8,1.4,versicolor
77,2,78,6.7,3.0,5.0,1.7,versicolor
78,2,79,6.0,2.9,4.5,1.5,versicolor
79,2,80,5.7,2.6,3.5,1.0,versicolor
80,2,81,5.5,2.4,3.8,1.1,versicolor
81,2,82,5.5,2.4,3.7,1.0,versicolor
82,2,83,5.8,2.7,3.9,1.2,versicolor
83,2,84,6.0,2.7,5.1,1.6,versicolor
84,2,85,5.4,3.0,4.5,1.5,versicolor
85,2,86,6.0,3.4,4.5,1.6,versicolor
86,2,87,6.7,3.1,4.7,1.5,versicolor
87,2,88,6.3,2.3,4.4,1.3,versicolor
88,2,89,5.6,3.0,4.1,1.3,versicolor
89,2,90,5.5,2.5,4.0,1.3,versicolor
90,2,91,5.5,2.6,4.4,1.2,versicolor
91,2,92,6.1,3.0,4.6,1.4,versicolor
92,2,93,5.8,2.6,4.0,1.2,versicolor
93,2,94,5.0,2.3,3.3,1.0,versicolor
94,2,95,5.6,2.7,4.2,1.3,versicolor
95,2,96,5.7,3.0,4.2,1.2,versicolor
96,2,97,5.7,2.9,4.2,1.3,versicolor
97,2,98,6.2,2.9,4.3,1.3,versicolor
98,2,99,5.1,2.5,3.0,1.1,versicolor
99,2,100,5.7,2.8,4.1,1.3,versicolor
100,3,101,6.3,3.3,6.0,2.5,virginica
101,3,102,5.8,2.7,5.1,1.9,virginica
102,3,103,7.1,3.0,5.9,2.1,virginica
103,3,104,6.3,2.9,5.6,1.8,virginica
104,3,105,6.5,3.0,5.8,2.2,virginica
105,3,106,7.6,3.0,6.6,2.1,virginica
106,3,107,4.9,2.5,4.5,1.7,virginica
107,3,108,7.3,2.9,6.3,1.8,virginica
108,3,109,6.7,2.5,5.8,1.8,virginica
109,3,110,7.2,3.6,6.1,2.5,virginica
110,3,111,6.5,3.2,5.1,2.0,virginica
111,3,112,6.4,2.7,5.3,1.9,virginica
112,3,113,6.8,3.0,5.5,2.1,virginica
113,3,114,5.7,2.5,5.0,2.0,virginica
114,3,115,5.8,2.8,5.1,2.4,virginica
115,3,116,6.4,3.2,5.3,2.3,virginica
116,3,117,6.5,3.0,5.5,1.8,virginica
117,3,118,7.7,3.8,6.7,2.2,virginica
118,3,119,7.7,2.6,6.9,2.3,virginica
119,3,120,6.0,2.2,5.0,1.5,virginica
120,3,121,6.9,3.2,5.7,2.3,virginica
121,3,122,5.6,2.8,4.9,2.0,virginica
122,3,123,7.7,2.8,6.7,2.0,virginica
123,3,124,6.3,2.7,4.9,1.8,virginica
124,3,125,6.7,3.3,5.7,2.1,virginica
125,3,126,7.2,3.2,6.0,1.8,virginica
126,3,127,6.2,2.8,4.8,1.8,virginica
127,3,128,6.1,3.0,4.9,1.8,virginica
128,3,129,6.4,2.8,5.6,2.1,virginica
129,3,130,7.2,3.0,5.8,1.6,virginica
130,3,131,7.4,2.8,6.1,1.9,virginica
131,3,132,7.9,3.8,6.4,2.0,virginica
132,3,133,6.4,2.8,5.6,2.2,virginica
133,3,134,6.3,2.8,5.1,1.5,virginica
134,3,135,6.1,2.6,5.6,1.4,virginica
135,3,136,7.7,3.0,6.1,2.3,virginica
136,3,137,6.3,3.4,5.6,2.4,virginica
137,3,138,6.4,3.1,5.5,1.8,virginica
138,3,139,6.0,3.0,4.8,1.8,virginica
139,3,140,6.9,3.1,5.4,2.1,virginica
140,3,141,6.7,3.1,5.6,2.4,virginica
141,3,142,6.9,3.1,5.1,2.3,virginica
142,3,143,5.8,2.7,5.1,1.9,virginica
143,3,144,6.8,3.2,5.9,2.3,virginica
144,3,145,6.7,3.3,5.7,2.5,virginica
145,3,146,6.7,3.0,5.2,2.3,virginica
146,3,147,6.3,2.5,5.0,1.9,virginica
147,3,148,6.5,3.0,5.2,2.0,virginica
148,3,149,6.2,3.4,5.4,2.3,virginica
149,3,150,5.9,3.0,5.1,1.8,virginica

## Drop the species_id and measurement_id columns.

In [14]:
df = df.drop(columns=['species_id', 'measurement_id'])

## Rename the species_name column to just species.

In [23]:
df.rename(columns={"specie": "species"},inplace = True)

In [24]:
df

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
6             4.6          3.4           1.4          0.3      setosa
7             5.0          3.4           1.5          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
10            5.4          3.7           1.5          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
17            5.1          3.5           1.4          0.3      setosa
18            5.7          3.8           1.7          0.3      setosa
19            5.1          3.8           1.5          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
22            4.6          3.6           1.0          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
24            4.8          3.4           1.9          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
27            5.2          3.5           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
31            5.4          3.4           1.5          0.4      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
35            5.0          3.2           1.2          0.2      setosa
36            5.5          3.5           1.3          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
39            5.1          3.4           1.5          0.2      setosa
40            5.0          3.5           1.3          0.3      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
43            5.0          3.5           1.6          0.6      setosa
44            5.1          3.8           1.9          0.4      setosa
45            4.8          3.0           1.4          0.3      setosa
46            5.1          3.8           1.6          0.2      setosa
47            4.6          3.2           1.4          0.2      setosa
48            5.3          3.7           1.5          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
57            4.9          2.4           3.3          1.0  versicolor
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.9          3.0           4.2          1.5  versicolor
62            6.0          2.2           4.0          1.0  versicolor
63            6.1          2.9           4.7          1.4  versicolor
64            5.6          2.9           3.6          1.3  versicolor
65            6.7          3.1           4.4          1.4  versicolor
66            5.6          3.0           4.5          1.5  versicolor
67            5.8          2.7           4.1          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
70            5.9          3.2           4.8          1.8  versicolor
71            6.1          2.8           4.0          1.3  versicolor
72            6.3          2.5           4.9          1.5  versicolor
73            6.1          2.8           4.7          1.2  versicolor
74            6.4          2.9           4.3          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
76            6.8          2.8           4.8          1.4  versicolor
77            6.7          3.0           5.0          1.7  versicolor
78            6.0          2.9           4.5          1.5  versicolor
79            5.7          2.6           3.5          1.0  versicolor
80            5.5          2.4           3.8          1.1  versicolor
81            5.5          2.4           3.7          1.0  versicolor
82            5.8          2.7           3.9          1.2  versicolor
83            6.0          2.7           5.1          1.6  versicolor
84            5.4          3.0           4.5          1.5  versicolor
85            6.0          3.4           4.5          1.6  versicolor
86            6.7          3.1           4.7          1.5  versicolor
87            6.3          2.3           4.4          1.3  versicolor
88            5.6          3.0           4.1          1.3  versicolor
89            5.5          2.5           4.0          1.3  versicolor
90            5.5          2.6           4.4          1.2  versicolor
91            6.1          3.0           4.6          1.4  versicolor
92            5.8          2.6           4.0          1.2  versicolor
93            5.0          2.3           3.3          1.0  versicolor
94            5.6          2.7           4.2          1.3  versicolor
95            5.7          3.0           4.2          1.2  versicolor
96            5.7          2.9           4.2          1.3  versicolor
97            6.2          2.9           4.3          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
99            5.7          2.8           4.1          1.3  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
106           4.9          2.5           4.5          1.7   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
113           5.7          2.5           5.0          2.0   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
119           6.0          2.2           5.0          1.5   virginica
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
122           7.7          2.8           6.7          2.0   virginica
123           6.3          2.7           4.9          1.8   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

## Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [26]:
dummy_df = pd.get_dummies(df[['species']],
                          dummy_na=False,
                         drop_first = [True])

In [27]:
dummy_df

     species_versicolor  species_virginica
0                     0                  0
1                     0                  0
2                     0                  0
3                     0                  0
4                     0                  0
5                     0                  0
6                     0                  0
7                     0                  0
8                     0                  0
9                     0                  0
10                    0                  0
11                    0                  0
12                    0                  0
13                    0                  0
14                    0                  0
15                    0                  0
16                    0                  0
17                    0                  0
18                    0                  0
19                    0                  0
20                    0                  0
21                    0                  0
22                    0                  0
23                    0                  0
24                    0                  0
25                    0                  0
26                    0                  0
27                    0                  0
28                    0                  0
29                    0                  0
30                    0                  0
31                    0                  0
32                    0                  0
33                    0                  0
34                    0                  0
35                    0                  0
36                    0                  0
37                    0                  0
38                    0                  0
39                    0                  0
40                    0                  0
41                    0                  0
42                    0                  0
43                    0                  0
44                    0                  0
45                    0                  0
46                    0                  0
47                    0                  0
48                    0                  0
49                    0                  0
50                    1                  0
51                    1                  0
52                    1                  0
53                    1                  0
54                    1                  0
55                    1                  0
56                    1                  0
57                    1                  0
58                    1                  0
59                    1                  0
60                    1                  0
61                    1                  0
62                    1                  0
63                    1                  0
64                    1                  0
65                    1                  0
66                    1                  0
67                    1                  0
68                    1                  0
69                    1                  0
70                    1                  0
71                    1                  0
72                    1                  0
73                    1                  0
74                    1                  0
75                    1                  0
76                    1                  0
77                    1                  0
78                    1                  0
79                    1                  0
80                    1                  0
81                    1                  0
82                    1                  0
83                    1                  0
84                    1                  0
85                    1                  0
86                    1                  0
87                    1                  0
88                    1                  0
89                    1                  0
90                    1                  0
91                    1                  0
92                    1                  0
93                    1                  0
94                    1                  0
95                    1                  0
96                    1                  0
97                    1                  0
98                    1                  0
99                    1                  0
100                   0                  1
101                   0                  1
102                   0                  1
103                   0                  1
104                   0                  1
105                   0                  1
106                   0                  1
107                   0                  1
108                   0                  1
109                   0                  1
110                   0                  1
111                   0                  1
112                   0                  1
113                   0                  1
114                   0                  1
115                   0                  1
116                   0                  1
117                   0                  1
118                   0                  1
119                   0                  1
120                   0                  1
121                   0                  1
122                   0                  1
123                   0                  1
124                   0                  1
125                   0                  1
126                   0                  1
127                   0                  1
128                   0                  1
129                   0                  1
130                   0                  1
131                   0                  1
132                   0                  1
133                   0                  1
134                   0                  1
135                   0                  1
136                   0                  1
137                   0                  1
138                   0                  1
139                   0                  1
140                   0                  1
141                   0                  1
142                   0                  1
143                   0                  1
144                   0                  1
145                   0                  1
146                   0                  1
147                   0                  1
148                   0                  1
149                   0                  1

In [28]:
df = pd.concat([df, dummy_df], axis=1)

In [29]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0
5,5.4,3.9,1.7,0.4,setosa,0,0
6,4.6,3.4,1.4,0.3,setosa,0,0
7,5.0,3.4,1.5,0.2,setosa,0,0
8,4.4,2.9,1.4,0.2,setosa,0,0
9,4.9,3.1,1.5,0.1,setosa,0,0
10,5.4,3.7,1.5,0.2,setosa,0,0
11,4.8,3.4,1.6,0.2,setosa,0,0
12,4.8,3.0,1.4,0.1,setosa,0,0
13,4.3,3.0,1.1,0.1,setosa,0,0
14,5.8,4.0,1.2,0.2,setosa,0,0
15,5.7,4.4,1.5,0.4,setosa,0,0
16,5.4,3.9,1.3,0.4,setosa,0,0
17,5.1,3.5,1.4,0.3,setosa,0,0
18,5.7,3.8,1.7,0.3,setosa,0,0
19,5.1,3.8,1.5,0.3,setosa,0,0
20,5.4,3.4,1.7,0.2,setosa,0,0
21,5.1,3.7,1.5,0.4,setosa,0,0
22,4.6,3.6,1.0,0.2,setosa,0,0
23,5.1,3.3,1.7,0.5,setosa,0,0
24,4.8,3.4,1.9,0.2,setosa,0,0
25,5.0,3.0,1.6,0.2,setosa,0,0
26,5.0,3.4,1.6,0.4,setosa,0,0
27,5.2,3.5,1.5,0.2,setosa,0,0
28,5.2,3.4,1.4,0.2,setosa,0,0
29,4.7,3.2,1.6,0.2,setosa,0,0
30,4.8,3.1,1.6,0.2,setosa,0,0
31,5.4,3.4,1.5,0.4,setosa,0,0
32,5.2,4.1,1.5,0.1,setosa,0,0
33,5.5,4.2,1.4,0.2,setosa,0,0
34,4.9,3.1,1.5,0.2,setosa,0,0
35,5.0,3.2,1.2,0.2,setosa,0,0
36,5.5,3.5,1.3,0.2,setosa,0,0
37,4.9,3.6,1.4,0.1,setosa,0,0
38,4.4,3.0,1.3,0.2,setosa,0,0
39,5.1,3.4,1.5,0.2,setosa,0,0
40,5.0,3.5,1.3,0.3,setosa,0,0
41,4.5,2.3,1.3,0.3,setosa,0,0
42,4.4,3.2,1.3,0.2,setosa,0,0
43,5.0,3.5,1.6,0.6,setosa,0,0
44,5.1,3.8,1.9,0.4,setosa,0,0
45,4.8,3.0,1.4,0.3,setosa,0,0
46,5.1,3.8,1.6,0.2,setosa,0,0
47,4.6,3.2,1.4,0.2,setosa,0,0
48,5.3,3.7,1.5,0.2,setosa,0,0
49,5.0,3.3,1.4,0.2,setosa,0,0
50,7.0,3.2,4.7,1.4,versicolor,1,0
51,6.4,3.2,4.5,1.5,versicolor,1,0
52,6.9,3.1,4.9,1.5,versicolor,1,0
53,5.5,2.3,4.0,1.3,versicolor,1,0
54,6.5,2.8,4.6,1.5,versicolor,1,0
55,5.7,2.8,4.5,1.3,versicolor,1,0
56,6.3,3.3,4.7,1.6,versicolor,1,0
57,4.9,2.4,3.3,1.0,versicolor,1,0
58,6.6,2.9,4.6,1.3,versicolor,1,0
59,5.2,2.7,3.9,1.4,versicolor,1,0
60,5.0,2.0,3.5,1.0,versicolor,1,0
61,5.9,3.0,4.2,1.5,versicolor,1,0
62,6.0,2.2,4.0,1.0,versicolor,1,0
63,6.1,2.9,4.7,1.4,versicolor,1,0
64,5.6,2.9,3.6,1.3,versicolor,1,0
65,6.7,3.1,4.4,1.4,versicolor,1,0
66,5.6,3.0,4.5,1.5,versicolor,1,0
67,5.8,2.7,4.1,1.0,versicolor,1,0
68,6.2,2.2,4.5,1.5,versicolor,1,0
69,5.6,2.5,3.9,1.1,versicolor,1,0
70,5.9,3.2,4.8,1.8,versicolor,1,0
71,6.1,2.8,4.0,1.3,versicolor,1,0
72,6.3,2.5,4.9,1.5,versicolor,1,0
73,6.1,2.8,4.7,1.2,versicolor,1,0
74,6.4,2.9,4.3,1.3,versicolor,1,0
75,6.6,3.0,4.4,1.4,versicolor,1,0
76,6.8,2.8,4.8,1.4,versicolor,1,0
77,6.7,3.0,5.0,1.7,versicolor,1,0
78,6.0,2.9,4.5,1.5,versicolor,1,0
79,5.7,2.6,3.5,1.0,versicolor,1,0
80,5.5,2.4,3.8,1.1,versicolor,1,0
81,5.5,2.4,3.7,1.0,versicolor,1,0
82,5.8,2.7,3.9,1.2,versicolor,1,0
83,6.0,2.7,5.1,1.6,versicolor,1,0
84,5.4,3.0,4.5,1.5,versicolor,1,0
85,6.0,3.4,4.5,1.6,versicolor,1,0
86,6.7,3.1,4.7,1.5,versicolor,1,0
87,6.3,2.3,4.4,1.3,versicolor,1,0
88,5.6,3.0,4.1,1.3,versicolor,1,0
89,5.5,2.5,4.0,1.3,versicolor,1,0
90,5.5,2.6,4.4,1.2,versicolor,1,0
91,6.1,3.0,4.6,1.4,versicolor,1,0
92,5.8,2.6,4.0,1.2,versicolor,1,0
93,5.0,2.3,3.3,1.0,versicolor,1,0
94,5.6,2.7,4.2,1.3,versicolor,1,0
95,5.7,3.0,4.2,1.2,versicolor,1,0
96,5.7,2.9,4.2,1.3,versicolor,1,0
97,6.2,2.9,4.3,1.3,versicolor,1,0
98,5.1,2.5,3.0,1.1,versicolor,1,0
99,5.7,2.8,4.1,1.3,versicolor,1,0
100,6.3,3.3,6.0,2.5,virginica,0,1
101,5.8,2.7,5.1,1.9,virginica,0,1
102,7.1,3.0,5.9,2.1,virginica,0,1
103,6.3,2.9,5.6,1.8,virginica,0,1
104,6.5,3.0,5.8,2.2,virginica,0,1
105,7.6,3.0,6.6,2.1,virginica,0,1
106,4.9,2.5,4.5,1.7,virginica,0,1
107,7.3,2.9,6.3,1.8,virginica,0,1
108,6.7,2.5,5.8,1.8,virginica,0,1
109,7.2,3.6,6.1,2.5,virginica,0,1
110,6.5,3.2,5.1,2.0,virginica,0,1
111,6.4,2.7,5.3,1.9,virginica,0,1
112,6.8,3.0,5.5,2.1,virginica,0,1
113,5.7,2.5,5.0,2.0,virginica,0,1
114,5.8,2.8,5.1,2.4,virginica,0,1
115,6.4,3.2,5.3,2.3,virginica,0,1
116,6.5,3.0,5.5,1.8,virginica,0,1
117,7.7,3.8,6.7,2.2,virginica,0,1
118,7.7,2.6,6.9,2.3,virginica,0,1
119,6.0,2.2,5.0,1.5,virginica,0,1
120,6.9,3.2,5.7,2.3,virginica,0,1
121,5.6,2.8,4.9,2.0,virginica,0,1
122,7.7,2.8,6.7,2.0,virginica,0,1
123,6.3,2.7,4.9,1.8,virginica,0,1
124,6.7,3.3,5.7,2.1,virginica,0,1
125,7.2,3.2,6.0,1.8,virginica,0,1
126,6.2,2.8,4.8,1.8,virginica,0,1
127,6.1,3.0,4.9,1.8,virginica,0,1
128,6.4,2.8,5.6,2.1,virginica,0,1
129,7.2,3.0,5.8,1.6,virginica,0,1
130,7.4,2.8,6.1,1.9,virginica,0,1
131,7.9,3.8,6.4,2.0,virginica,0,1
132,6.4,2.8,5.6,2.2,virginica,0,1
133,6.3,2.8,5.1,1.5,virginica,0,1
134,6.1,2.6,5.6,1.4,virginica,0,1
135,7.7,3.0,6.1,2.3,virginica,0,1
136,6.3,3.4,5.6,2.4,virginica,0,1
137,6.4,3.1,5.5,1.8,virginica,0,1
138,6.0,3.0,4.8,1.8,virginica,0,1
139,6.9,3.1,5.4,2.1,virginica,0,1
140,6.7,3.1,5.6,2.4,virginica,0,1
141,6.9,3.1,5.1,2.3,virginica,0,1
142,5.8,2.7,5.1,1.9,virginica,0,1
143,6.8,3.2,5.9,2.3,virginica,0,1
144,6.7,3.3,5.7,2.5,virginica,0,1
145,6.7,3.0,5.2,2.3,virginica,0,1
146,6.3,2.5,5.0,1.9,virginica,0,1
147,6.5,3.0,5.2,2.0,virginica,0,1
148,6.2,3.4,5.4,2.3,virginica,0,1
149,5.9,3.0,5.1,1.8,virginica,0,1

## Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [30]:
def prep_iris():
    df = acquire.get_iris_data()
    df.rename(columns={"species_name": "species"},inplace = True)
    dummy_df = pd.get_dummies(df[['species']],
                          dummy_na=False,
                         drop_first = [True])
    df = pd.concat([df, dummy_df], axis=1)
    return df

## Using the Titanic dataset

## Use the function defined in acquire.py to load the Titanic data.

In [32]:
df = acquire.get_titanic_data()

Using cached csv

In [33]:
df

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [34]:
df = df.drop_duplicates()
    # drop columns we want to remove
df = df.drop(columns=['deck', 'embarked', 'class', 'age'])

In [35]:
df

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone
0,0,0,3,male,1,0,7.2500,Southampton,0
1,1,1,1,female,1,0,71.2833,Cherbourg,0
2,2,1,3,female,0,0,7.9250,Southampton,1
3,3,1,1,female,1,0,53.1000,Southampton,0
4,4,0,3,male,0,0,8.0500,Southampton,1
...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,0,0,13.0000,Southampton,1
887,887,1,1,female,0,0,30.0000,Southampton,1
888,888,0,3,female,1,2,23.4500,Southampton,0
889,889,1,1,male,0,0,30.0000,Cherbourg,1
890,890,0,3,male,0,0,7.7500,Queenstown,1

## Using the Titanic dataset

Use the function defined in acquire.py to load the Titanic data.

Drop any unnecessary, unhelpful, or duplicated columns.

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [2]:
df = acquire.get_titanic_data()

Using cached csv

In [3]:
df

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [5]:
df.shape

(891, 13)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  891 non-null    int64
 1   survived      891 non-null    int64
 2   pclass        891 non-null    int64
 3   sex           891 non-null    object
 4   age           714 non-null    float64
 5   sibsp         891 non-null    int64
 6   parch         891 non-null    int64
 7   fare          891 non-null    float64
 8   embarked      889 non-null    object
 9   class         891 non-null    object
 10  deck          203 non-null    object
 11  embark_town   889 non-null    object
 12  alone         891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [8]:
df.describe()

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000
mean,445.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,0.602694
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,0.489615
min,0.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,222.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,0.000000
50%,445.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,1.000000
75%,667.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,1.000000
max,890.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000

In [9]:
obj_cols = df.columns[[df[col].dtype == 'O' for col in df.columns]]
obj_cols

Index(['sex', 'embarked', 'class', 'deck', 'embark_town'], dtype='object')

In [10]:
for col in obj_cols:
    print(df[col].value_counts())
    print(df[col].value_counts(normalize=True, dropna=False))
    print('--------------------------')

male      577
female    314
Name: sex, dtype: int64
male      0.647587
female    0.352413
Name: sex, dtype: float64
--------------------------
S    644
C    168
Q     77
Name: embarked, dtype: int64
S      0.722783
C      0.188552
Q      0.086420
NaN    0.002245
Name: embarked, dtype: float64
--------------------------
Third     491
First     216
Second    184
Name: class, dtype: int64
Third     0.551066
First     0.242424
Second    0.206510
Name: class, dtype: float64
--------------------------
C    59
B    47
D    33
E    32
A    15
F    13
G     4
Name: deck, dtype: int64
NaN    0.772166
C      0.066218
B      0.052750
D      0.037037
E      0.035915
A      0.016835
F      0.014590
G      0.004489
Name: deck, dtype: float64
--------------------------
Southampton    644
Cherbourg      168
Queenstown      77
Name: embark_town, dtype: int64
Southampton    0.722783
Cherbourg      0.188552
Queenstown     0.086420
NaN            0.002245
Name: embark_town, dtype: float64
--------------------------

In [11]:
print(df.shape)
df = df.drop_duplicates()
print(df.shape)

(891, 13)
(891, 13)

In [12]:
cols_to_drop = ['deck', 'embarked', 'class', 'age']
df = df.drop(columns=cols_to_drop)
df.shape

(891, 9)

In [13]:
# Run .fillna() on the entire df.
df['embark_town'] = df.embark_town.fillna(value='Southampton')

In [14]:
# Validate that missing values in embark_town have been handled.
df.embark_town.isna().sum()

0

In [15]:
dummy_df = pd.get_dummies(df[['sex', 'embark_town']], dummy_na=False, drop_first=[True, True])
dummy_df

     sex_male  embark_town_Queenstown  embark_town_Southampton
0           1                       0                        1
1           0                       0                        0
2           0                       0                        1
3           0                       0                        1
4           1                       0                        1
..        ...                     ...                      ...
886         1                       0                        1
887         0                       0                        1
888         0                       0                        1
889         1                       0                        0
890         1                       1                        0

[891 rows x 3 columns]

In [16]:
# Concatenate the dummy_df dataframe above with the original df and validate.
df = pd.concat([df, dummy_df], axis=1)
df.head()

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,female,1,0,71.2833,Cherbourg,0,0,0,0
2,2,1,3,female,0,0,7.9250,Southampton,1,0,0,1
3,3,1,1,female,1,0,53.1000,Southampton,0,0,0,1
4,4,0,3,male,0,0,8.0500,Southampton,1,1,0,1

In [17]:
def clean_data(df):
    '''
    This function will clean the data...
    '''
    df = df.drop_duplicates()
    cols_to_drop = ['deck', 'embarked', 'class', 'age']
    df = df.drop(columns=cols_to_drop)
    df['embark_town'] = df.embark_town.fillna(value='Southampton')
    dummy_df = pd.get_dummies(df[['sex', 'embark_town']], dummy_na=False, drop_first=[True, True])
    df = pd.concat([df, dummy_df], axis=1)
    return df

## Using the Telco dataset

Use the function defined in acquire.py to load the Telco data.

Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [3]:
df = acquire.get_telco_data()

Acquiring data from SQL database

In [4]:
df.head()

,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,DSL,One year,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,DSL,Month-to-month,Mailed check
2,1,1,2,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Fiber optic,Month-to-month,Mailed check

In [5]:
df = df.drop(columns=['payment_type_id', 'contract_type_id','internet_service_type_id','senior_citizen'])

In [6]:
df

,customer_id,gender,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,0002-ORFBO,Female,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.60,593.3,No,DSL,One year,Mailed check
1,0003-MKNFE,Male,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.90,542.4,No,DSL,Month-to-month,Mailed check
2,0004-TLHLJ,Male,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.90,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,0011-IGKFF,Male,Yes,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.00,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,0013-EXCHZ,Female,Yes,No,3,Yes,No,No,No,No,Yes,Yes,No,Yes,83.90,267.4,Yes,Fiber optic,Month-to-month,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,No,No,13,Yes,No,Yes,No,No,Yes,No,No,No,55.15,742.9,No,DSL,One year,Mailed check
7039,9992-RRAMN,Male,Yes,No,22,Yes,Yes,No,No,No,No,No,Yes,Yes,85.10,1873.7,Yes,Fiber optic,Month-to-month,Electronic check
7040,9992-UJOEL,Male,No,No,2,Yes,No,No,Yes,No,No,No,No,Yes,50.30,92.75,No,DSL,Month-to-month,Mailed check
7041,9993-LHIEB,Male,Yes,Yes,67,Yes,No,Yes,No,Yes,Yes,No,Yes,No,67.85,4627.65,No,DSL,Two year,Mailed check
7042,9995-HOTOH,Male,Yes,Yes,63,No,No phone service,Yes,Yes,Yes,No,Yes,Yes,No,59.00,3707.6,No,DSL,Two year,Electronic check

In [7]:
df[df.total_charges == ' ']

,customer_id,gender,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
945,1371-DWPAZ,Female,Yes,Yes,0,No,No phone service,Yes,Yes,Yes,Yes,Yes,No,No,56.05,,No,DSL,Two year,Credit card (automatic)
1731,2520-SGTTA,Female,Yes,Yes,0,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No,20.00,,No,None,Two year,Mailed check
1906,2775-SEFEE,Male,No,Yes,0,Yes,Yes,Yes,Yes,No,Yes,No,No,Yes,61.90,,No,DSL,Two year,Bank transfer (automatic)
2025,2923-ARZLG,Male,Yes,Yes,0,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Yes,19.70,,No,None,One year,Mailed check
2176,3115-CZMZD,Male,No,Yes,0,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No,20.25,,No,None,Two year,Mailed check
2250,3213-VVOLG,Male,Yes,Yes,0,Yes,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No,25.35,,No,None,Two year,Mailed check
2855,4075-WKNIU,Female,Yes,Yes,0,Yes,Yes,No,Yes,Yes,Yes,Yes,No,No,73.35,,No,DSL,Two year,Mailed check
3052,4367-NUYAO,Male,Yes,Yes,0,Yes,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No,25.75,,No,None,Two year,Mailed check
3118,4472-LVYGI,Female,Yes,Yes,0,No,No phone service,Yes,No,Yes,Yes,Yes,No,Yes,52.55,,No,DSL,Two year,Bank transfer (automatic)
4054,5709-LVOEQ,Female,Yes,Yes,0,Yes,No,Yes,Yes,Yes,No,Yes,Yes,No,80.85,,No,DSL,Two year,Mailed check
5433,7644-OMVMY,Male,Yes,Yes,0,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No,19.85,,No,None,Two year,Mailed check

In [8]:
df['total_charges'] = df['total_charges'].str.strip()

In [9]:
df = df[df.total_charges != '']

In [10]:
# Confirm that these rows were dropped
df[df.tenure == 0]

Empty DataFrame
Columns: [customer_id, gender, partner, dependents, tenure, phone_service, multiple_lines, online_security, online_backup, device_protection, tech_support, streaming_tv, streaming_movies, paperless_billing, monthly_charges, total_charges, churn, internet_service_type, contract_type, payment_type]
Index: []

In [11]:
# Convert datatype
df['total_charges'] = df.total_charges.astype(float)

/var/folders/qc/j1gjctrd2wn6_hlqm7vyzbgm0000gn/T/ipykernel_895/3295339031.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_charges'] = df.total_charges.astype(float)

In [12]:
df.describe()

            tenure  monthly_charges  total_charges
count  7032.000000      7032.000000    7032.000000
mean     32.421786        64.798208    2283.300441
std      24.545260        30.085974    2266.771362
min       1.000000        18.250000      18.800000
25%       9.000000        35.587500     401.450000
50%      29.000000        70.350000    1397.475000
75%      55.000000        89.862500    3794.737500
max      72.000000       118.750000    8684.800000

In [13]:
obj_cols = df.columns[[df[col].dtype == 'O' for col in df.columns]]
obj_cols

Index(['customer_id', 'gender', 'partner', 'dependents', 'phone_service',
       'multiple_lines', 'online_security', 'online_backup',
       'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies',
       'paperless_billing', 'churn', 'internet_service_type', 'contract_type',
       'payment_type'],
      dtype='object')

In [14]:
for col in obj_cols:
    print(col.upper())
    print('Count:')
    print(df[col].value_counts())
    print('\n')
    print('Proportions:')
    print(df[col].value_counts(normalize=True, dropna=False))
    print('--------------------------')
    print('\n')

CUSTOMER_ID
Count:
0002-ORFBO    1
6619-RPLQZ    1
6629-LADHQ    1
6629-CZTTH    1
6627-CFOSN    1
             ..
3359-DSRKA    1
3354-OADJP    1
3352-RICWQ    1
3352-ALMCK    1
9995-HOTOH    1
Name: customer_id, Length: 7032, dtype: int64


Proportions:
0002-ORFBO    0.000142
6619-RPLQZ    0.000142
6629-LADHQ    0.000142
6629-CZTTH    0.000142
6627-CFOSN    0.000142
                ...
3359-DSRKA    0.000142
3354-OADJP    0.000142
3352-RICWQ    0.000142
3352-ALMCK    0.000142
9995-HOTOH    0.000142
Name: customer_id, Length: 7032, dtype: float64
--------------------------


GENDER
Count:
Male      3549
Female    3483
Name: gender, dtype: int64


Proportions:
Male      0.504693
Female    0.495307
Name: gender, dtype: float64
--------------------------


PARTNER
Count:
No     3639
Yes    3393
Name: partner, dtype: int64


Proportions:
No     0.517491
Yes    0.482509
Name: partner, dtype: float64
--------------------------


DEPENDENTS
Count:
No     4933
Yes    2099
Name: dependents, dtype: int64


Proportions:
No     0.701507
Yes    0.298493
Name: dependents, dtype: float64
--------------------------


PHONE_SERVICE
Count:
Yes    6352
No      680
Name: phone_service, dtype: int64


Proportions:
Yes    0.903299
No     0.096701
Name: phone_service, dtype: float64
--------------------------


MULTIPLE_LINES
Count:
No                  3385
Yes                 2967
No phone service     680
Name: multiple_lines, dtype: int64


Proportions:
No                  0.481371
Yes                 0.421928
No phone service    0.096701
Name: multiple_lines, dtype: float64
--------------------------


ONLINE_SECURITY
Count:
No                     3497
Yes                    2015
No internet service    1520
Name: online_security, dtype: int64


Proportions:
No                     0.497298
Yes                    0.286547
No internet service    0.216155
Name: online_security, dtype: float64
--------------------------


ONLINE_BACKUP
Count:
No                     3087
Yes                    2425
No internet service    1520
Name: online_backup, dtype: int64


Proportions:
No                     0.438993
Yes                    0.344852
No internet service    0.216155
Name: online_backup, dtype: float64
--------------------------


DEVICE_PROTECTION
Count:
No                     3094
Yes                    2418
No internet service    1520
Name: device_protection, dtype: int64


Proportions:
No                     0.439989
Yes                    0.343857
No internet service    0.216155
Name: device_protection, dtype: float64
--------------------------


TECH_SUPPORT
Count:
No                     3472
Yes                    2040
No internet service    1520
Name: tech_support, dtype: int64


Proportions:
No                     0.493743
Yes                    0.290102
No internet service    0.216155
Name: tech_support, dtype: float64
--------------------------


STREAMING_TV
Count:
No                     2809
Yes                    2703
No internet service    1520
Name: streaming_tv, dtype: int64


Proportions:
No                     0.399460
Yes                    0.384386
No internet service    0.216155
Name: streaming_tv, dtype: float64
--------------------------


STREAMING_MOVIES
Count:
No                     2781
Yes                    2731
No internet service    1520
Name: streaming_movies, dtype: int64


Proportions:
No                     0.395478
Yes                    0.388367
No internet service    0.216155
Name: streaming_movies, dtype: float64
--------------------------


PAPERLESS_BILLING
Count:
Yes    4168
No     2864
Name: paperless_billing, dtype: int64


Proportions:
Yes    0.592719
No     0.407281
Name: paperless_billing, dtype: float64
--------------------------


CHURN
Count:
No     5163
Yes    1869
Name: churn, dtype: int64


Proportions:
No     0.734215
Yes    0.265785
Name: churn, dtype: float64
--------------------------


INTERNET_SERVICE_TYPE
Count:
Fiber optic    3096
DSL            2416
None           1520
Name: internet_service_type, dtype: int64


Proportions:
Fiber optic    0.440273
DSL            0.343572
None           0.216155
Name: internet_service_type, dtype: float64
--------------------------


CONTRACT_TYPE
Count:
Month-to-month    3875
Two year          1685
One year          1472
Name: contract_type, dtype: int64


Proportions:
Month-to-month    0.551052
Two year          0.239619
One year          0.209329
Name: contract_type, dtype: float64
--------------------------


PAYMENT_TYPE
Count:
Electronic check             2365
Mailed check                 1604
Bank transfer (automatic)    1542
Credit card (automatic)      1521
Name: payment_type, dtype: int64


Proportions:
Electronic check             0.336320
Mailed check                 0.228100
Bank transfer (automatic)    0.219283
Credit card (automatic)      0.216297
Name: payment_type, dtype: float64
--------------------------

In [15]:
# encode binary categorical variables into numeric values
df['gender_encoded'] = df.gender.map({'Female': 1, 'Male': 0})
df['partner_encoded'] = df.partner.map({'Yes': 1, 'No': 0})
df['dependents_encoded'] = df.dependents.map({'Yes': 1, 'No': 0})
df['phone_service_encoded'] = df.phone_service.map({'Yes': 1, 'No': 0})
df['paperless_billing_encoded'] = df.paperless_billing.map({'Yes': 1, 'No': 0})
df['churn_encoded'] = df.churn.map({'Yes': 1, 'No': 0})

/var/folders/qc/j1gjctrd2wn6_hlqm7vyzbgm0000gn/T/ipykernel_895/668043955.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender_encoded'] = df.gender.map({'Female': 1, 'Male': 0})
/var/folders/qc/j1gjctrd2wn6_hlqm7vyzbgm0000gn/T/ipykernel_895/668043955.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['partner_encoded'] = df.partner.map({'Yes': 1, 'No': 0})
/var/folders/qc/j1gjctrd2wn6_hlqm7vyzbgm0000gn/T/ipykernel_895/668043955.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dependents_encoded'] = df.dependents.map({'Yes': 1, 'No': 0})
/var/folders/qc/j1gjctrd2wn6_hlqm7vyzbgm0000gn/T/ipykernel_895/668043955.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['phone_service_encoded'] = df.phone_service.map({'Yes': 1, 'No': 0})
/var/folders/qc/j1gjctrd2wn6_hlqm7vyzbgm0000gn/T/ipykernel_895/668043955.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['paperless_billing_encoded'] = df.paperless_billing.map({'Yes': 1, 'No': 0})
/var/folders/qc/j1gjctrd2wn6_hlqm7vyzbgm0000gn/T/ipykernel_895/668043955.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['churn_encoded'] = df.churn.map({'Yes': 1, 'No': 0})

In [16]:
dummy_df = pd.get_dummies(df[['multiple_lines', \
                              'online_security', \
                              'online_backup', \
                              'device_protection', \
                              'tech_support', \
                              'streaming_tv', \
                              'streaming_movies', \
                              'contract_type', \
                              'internet_service_type', \
                              'payment_type']], dummy_na=False, \
                              drop_first=True)
dummy_df

,multiple_lines_No phone service,multiple_lines_Yes,online_security_No internet service,online_security_Yes,online_backup_No internet service,online_backup_Yes,device_protection_No internet service,device_protection_Yes,tech_support_No internet service,tech_support_Yes,...,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0,0,0,0,0,1,0,0,0,1,...,1,0,0,1,0,0,0,0,0,1
1,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
3,0,0,0,0,0,1,0,1,0,0,...,1,0,1,0,0,1,0,0,1,0
4,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
7039,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
7040,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7041,0,0,0,1,0,0,0,1,0,1,...,0,0,1,0,1,0,0,0,0,1
7042,1,0,0,1,0,1,0,1,0,0,...,1,0,1,0,1,0,0,0,1,0

In [17]:
df = pd.concat([df, dummy_df], axis=1)
df.head()

,customer_id,gender,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,...,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0002-ORFBO,Female,Yes,Yes,9,Yes,No,No,Yes,No,...,1,0,0,1,0,0,0,0,0,1
1,0003-MKNFE,Male,No,No,9,Yes,Yes,No,No,No,...,0,0,1,0,0,0,0,0,0,1
2,0004-TLHLJ,Male,No,No,4,Yes,No,No,No,Yes,...,0,0,0,0,0,1,0,0,1,0
3,0011-IGKFF,Male,Yes,No,13,Yes,No,No,Yes,Yes,...,1,0,1,0,0,1,0,0,1,0
4,0013-EXCHZ,Female,Yes,No,3,Yes,No,No,No,No,...,1,0,0,0,0,1,0,0,0,1

In [18]:
def prep_telco_data(df):
    # Drop duplicate columns
    df.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id', 'customer_id'], inplace=True)
       
    # Drop null values stored as whitespace    
    df['total_charges'] = df['total_charges'].str.strip()
    df = df[df.total_charges != '']
    
    # Convert to correct datatype
    df['total_charges'] = df.total_charges.astype(float)
    
    # Convert binary categorical variables to numeric
    df['gender_encoded'] = df.gender.map({'Female': 1, 'Male': 0})
    df['partner_encoded'] = df.partner.map({'Yes': 1, 'No': 0})
    df['dependents_encoded'] = df.dependents.map({'Yes': 1, 'No': 0})
    df['phone_service_encoded'] = df.phone_service.map({'Yes': 1, 'No': 0})
    df['paperless_billing_encoded'] = df.paperless_billing.map({'Yes': 1, 'No': 0})
    df['churn_encoded'] = df.churn.map({'Yes': 1, 'No': 0})
    
    # Get dummies for non-binary categorical variables
    dummy_df = pd.get_dummies(df[['multiple_lines', \
                              'online_security', \
                              'online_backup', \
                              'device_protection', \
                              'tech_support', \
                              'streaming_tv', \
                              'streaming_movies', \
                              'contract_type', \
                              'internet_service_type', \
                              'payment_type']], dummy_na=False, \
                              drop_first=True)
    
    # Concatenate dummy dataframe to original 
    df = pd.concat([df, dummy_df], axis=1)
    
    return train, validate, test